body {
    width: 400px;
    height: 500px;
    font-family: sans-serif;
    background:red;
}
ul, li { padding: 0; margin: 0; }
#toplevel ul {
    margin-left: 1em;
}
li {
    list-style: none;
}
li a {
    display: block;
    text-decoration: none;
    color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    outline: 0;
}
